* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.header{
  text-align: center;
  height: 100px;
  margin: 10px;
}

.main{
  float: left;
}


.footer-page{
  text-align: center;
}

.fotter-top{
  max-width: 50%;
}
