* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.top-page{
  text-align: center;
  height: 500px;
  width: auto;
  margin: 10px;
}

.footer-page{
  text-align: center;
}

.fotter-top{
  max-width: 50%;
}

.main{
  text-align: center;
  float: left;
}
